{
  "singleQuote": true,
  "trailingComma": "es5",
  "plugins": [
    "prettier-plugin-tailwindcss"
  ],
  "tailwindStylesheet": "src/index.css",
  "tailwindFunctions": [
    "cn",
    "cva"
  ],
  "semi": true,
  "tabWidth": 2,
  "printWidth": 100,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "auto"
}
